// Posts
.home {
    padding: 16px;
}

.post-list-heading {

}

ul.post-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {

  }
  .post-meta {
    font-family: sans-serif;
  }
  .post-link {
    text-decoration: underline;
    color: #33a5ff;
  }
}
